html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  text-align: center;
  color: #59471b;
}

#goodreads h1 {
  width: 100%;
  font-size: 3.375em;
  line-height: 1.5em;
  font-weight: 100;
}

#wrap {
  width: 100%;
  font-size: 1em;
  font-weight: 300;
}
#wrap h2 {
  font-size: 1.25em;
  line-height: 1.875em;
  font-style: italic;
  font-weight: 200;
  color: #555555;
}
form {
  margin: 1.5em 0;
}
ol {
  height: 8.75em;
  width: 84.375%;
  margin: 0.444em auto;
}
label {
  position: absolute;
  margin: 1em;
  cursor: text;
  color: #848484;
  display: inline;
}
input {
  width: 100%;
  height: 2.91666667em;
  color: #635229;
  background-color: #e9e9e9;
  padding: 0 1em;
  outline-style: none;
  -webkit-box-sizing: border-box;  
     -moz-box-sizing: border-box;  
          box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 1px dotted transparent;
    -webkit-appearance: button;
}

#email {
  -webkit-border-top-left-radius: 0.5em;
  -webkit-border-top-right-radius: 0.5em;
  -moz-border-radius-topleft: 0.5em;
  -moz-border-radius-topright: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: 1px solid #dfdfdf;
}

#password {
  -webkit-border-bottom-right-radius: 0.5em;
  -webkit-border-bottom-left-radius: 0.5em;
  -moz-border-radius-bottomright: 0.5em;
  -moz-border-radius-bottomleft: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-top: 1px solid #dfdfdf;
}
.submit {
  margin: 1.5em 0;
}
#emailSignup, #emailSignin {
  /*margin: 0.667em 0;*/
  background-color: #e8d39d;
  height: 3.375em;
  border: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  font-weight: 600;
  width: 48%;
  display: inline-block;
  float: right;
  cursor: pointer;
}
#emailSignin {
  margin-right: 4%;
}

#fastSignup {
  width: 84.375%;
  margin: 3.375em auto;
}
#fastSignup h3 {
  float: left;
  color: #555555;
  font-size: 1em; 
}
#fbSignup {
  background-color: #3b5998;
  color: white;
  height: 2.25em;
  margin: 0.444em 0;
  border: none;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  font-weight: normal;
  cursor: pointer;
}

#signin {
  width: 84.375%;
  margin: 0 auto;
  color: #615025;
}
#signin h3 {
  float: right;
  margin: 0 0.667em;
}
#jump {
  border: 1px solid #ddc68a;
  background-color: #fff; 
  font-weight: 600;
  width: 5.833333333em;
  height: 2.5em;
  float: right;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  margin-top: -0.667em;  
}

/*input[type="submit"]::-webkit-submit-decoration{
  display: none;
}*/

/* --------------------- Media Query ----------------------- */


@media screen and (max-width: 50em) {

}

@media screen and (min-width: 50em) {
  #wrap, header { 
    max-width: 26.6666667em;
  }
}